<body class="body">
<div class="login-box">
  <div class="logo-container">
    <div class="logo">
  <img src="assets/logo.png" alt="Logo da ISG participações S.A">
</div>
</div>
 <p> ISG participações S.A. </p><br>


  <p>Login</p>
  <p>Entre com sua conta</p>
  <form>

    <div class="user-box">
      <input required="" name="" type="text" placeholder="Nome">

    </div>
    <div class="user-box">
      <input required="" name="" type="password"  placeholder="Senha">

    </div>
    <div class="button-container">
      <button class="styled-button">Entrar</button>
    </div>
  </form>
  <p><a href="" class="a2">Esqueci minha senha</a></p>
</div>
</body>
