

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  float: right;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}



.styled-button {
  background-color: #960a0a;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 7px;
}


.body {
  background: #ffffff;}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 560px;
  padding: 55px;
  transform: translate(-50%, -55%);
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(167, 0, 0, 0.6);
  border-radius: 9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.login-box p {
  margin-bottom: 5px; /* valor desejado */
}

.login-box p:nth-of-type(1) {
  margin: 0 0 5px;
  padding: 12;
  color: #791414;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
}
.login-box p:nth-of-type(2) {

  margin: 0 0 5px;
  padding: 5;
  color: #B11F26;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
}

.login-box p:nth-of-type(3) {
  margin-top: 0.5em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #ffffff;
  color: #272727;
  border-radius: 10px;
}

.login-box a span {
  position: absolute;
  display: block;
}
.login-box p:last-child {
  color: #000000;
  font-size: 14px;
}

.login-box a.a2 {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #fc0000;
  border-radius: 5px;
}
