<!-- menu vertical -->
<!-- <nav id="menu" class="left show">
  <ul>
    <li><a href="#" class="active"><i class="fa fa-home"></i>Inicio</a></li>
    <li><a href="#"><i class="fa fa-info-circle"></i>Acerca de</a></li>
    <li>
      <a href="#"><i class="fa fa-laptop"></i>Servicios <i class="fa fa-caret-down"></i></a>
      <ul>
        <li><a href="#">Servicio</a></li>
        <li><a href="#">Servicio</a></li>
        <li><a href="#">Servicio</a></li>
      </ul>
    </li>
    <li><a href="#"><i class="fa fa-phone"></i>Contacto</a></li>
  </ul>
</nav> -->
<!-- /menu vertical -->
<app-login></app-login>
