
<head>
  <meta charset="UTF-8">
  <title>Reserva</title>

</head>
<body>
  <div class="sidebar">
    <h5  class="subtitle">Usuários</h5>
    <h5 class="subtitle">Salas</h5>
    <h5 class="subtitle">Sair</h5>
    <h3><a href="/reserva" class="menu-item">Reservas</a></h3>
    <ul class="submenu">
      <li><a href="/reserva/sala-pequena" class="menu-item">Sala Pequena</a></li>
      <li><a href="/reserva/sala-media" class="menu-item">Sala Média</a></li>
      <li><a href="/reserva/sala-grande" class="menu-item">Sala Grande</a></li>
    </ul>
    <h3 class="subtitle">Sair</h3>
  </div>
  <!-- conteúdo principal do seu aplicativo aqui -->
</body>
