
/* estilo para o menu lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #000000;
  padding: 20px;
}

/* estilo para os subtítulos */
.subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* estilo para os itens de menu */
.menu-item {
  display: block;
  margin-bottom: 3px;
  text-decoration: none;
  color: #ffffff;
}

.menu-item:hover {
  background-color: #ffffff;
}

/* estilo para os submenus */
.submenu {
  margin-left: 2px;
}
.subtitle{

color: #ffffff;
}
